
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 105%;
  width: 95%;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  background-image: url("../images/Old+Logo.png");
  background-repeat: repeat-y;
  background-position: right;
  background-attachment: fixed;
  box-shadow: 2px 2px 4px gray;
}

#navbar ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

article {
  width: 75%;
  float: left;
  text-align: justify;
  column-count: 3;
  column-gap: 35px;
  column-rule: 3px dashed blue;
}

article h1 {
  color: blue;
  border-bottom: 2px solid blue;
  margin-bottom: 15px;
}

article h2 {
  color: blue;
  border-bottom: 1px dotted blue;
  margin-top: 25px;
}

article p::first-letter {
  font-size: 200%;
  font-weight: bold;
  font-style: italic;
}

article img {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

article p {
  line-height: 1.5;
  text-align: justify;
  }

.page-break {
  border-top: 2px dotted black;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 1;
}

@media print {
  .page-break {
    page-break-after: always;
  }
}
aside {
  width: 20%;
  position: fixed;
  right: 20px;
  top: 140px;
  border: 2px solid blue;
  background-color: #cbe6f4;
  padding: 15px;
  box-sizing: border-box;
}

.nav-box ol {
  list-style-type: upper-roman;
  margin-left: 20px;
}

.nav-box ul {
  list-style-type: square;
  margin-left: 25px;
}

.nav-box ol ol {
  list-style-type: disc;
}

.nav-box ol ol ol {
  list-style-type: lower-alpha;
}

.nav-box a {
  color: blue;
  text-decoration: underline;
}

.nav-box a:hover {
  color: darkblue;
}

footer {
  clear: both;
  border-top: 2px solid blue;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: white;
  color: black;
}

footer a {
  color: blue;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
