
html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
table.first {
border-collapse: separate;
border: 2px solid black;
}
table.first th, table.first td {
border: 2px solid blue;
}
table.first tr:nth-child(odd) {
background-color: lightblue;
}

table.second {
border-collapse: collapse;
border: 2px solid purple;
caption-side: bottom;
}
table.second th {
background-color: salmon;
}
table.second th, table.second td {
padding: 0.7em;
vertical-align: middle;
border: 2px solid purple;
}
table.second thead tr:first-child{
border-bottom: 2px solid purple;
}
@media only screen and (max-width: 425px) {
th, td {
display: block;
}
thead, td.number {
display: none;
padding: 0;
.salary-table {
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
}

.salary-table th,
.salary-table td {
    padding: 10px 12px;
    border-bottom: 1px solid #e35c44;
    font-size: 16px;
}

.title-row th {
    background-color: #8ae68a;
    color: black;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #e35c44;
}

.header-row th {
    background-color: #8ae68a;
    font-weight: bold;
    border-bottom: 2px solid #e35c44;
}

.salary-table tr:last-child td {
    border-bottom: 3px solid #e35c44; 
}
}
}