
html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
table.first {
border-collapse: separate;
border: 2px solid black;
}
table.first th, table.first td {
border: 2px solid blue;
}
table.first tr:nth-child(odd) {
background-color: lightblue;
}

table.second {
border-collapse: collapse;
border: 2px solid purple;
caption-side: bottom;
}
table.second th {
background-color: salmon;
}
table.second th, table.second td {
padding: 0.7em;
vertical-align: middle;
border: 2px solid purple;
}
table.second thead tr:first-child{
border-bottom: 2px solid purple;

}table.third {
margin: 0;
border-collapse: collapse;
font-family: Arial, sans-serif;
}

table.third th,
table.third td {
padding: 10px 12px;
vertical-align: top;   /* REQUIRED */
}

/* TITLE ROW BORDER (TOP) */
table.third thead tr:first-child {
background-color: #8ae68a;
border-top: 2px solid orangered;       /* REQUIRED */
border-bottom: 2px solid orangered;
text-align: left;
font-size: 20px;
}

/* HEADER ROW */
table.third thead tr:nth-child(2) {
background-color: #8ae68a;
border-bottom: 2px solid orangered;     /* REQUIRED */
font-weight: bold;
}

/* BOTTOM BORDER ON LAST ROW */
table.third tbody tr:last-child {
border-bottom: 2px solid orangered;     /* REQUIRED */
}

/* GENERAL ROW BOTTOM BORDERS 
table.third tbody tr {
    border-bottom: 1px solid orangered;
}*/

/* MEDIA QUERY ( REQUIRED ) */
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }
    thead,
    td.number {
        display: none;
        padding: 0;
    }
}